body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: #b2747f;
    color: #fff;
    font-family: 'Comic Sans MS', cursive;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
  }
  
  video {
    /* width: 100%; */
    border-radius: 8px;
    margin-bottom: 10px;
    height: 50%;
  }
  
  #flirt-box {
    font-size: 1rem;
    text-align: center;
    padding: 10px;
    background: #b2747f;
    border-radius: 10px;
    height: 10rem;
  }
  